{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://rds.amazonaws.com/"
        },
        {
            "url": "http://rds.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon Neptune</fullname> <p> </p> <p> Amazon Neptune is a fast, reliable, fully-managed graph database service that makes it easy to build and run applications that work with highly connected datasets. The core of Amazon Neptune is a purpose-built, high-performance graph database engine optimized for storing billions of relationships and querying the graph with milliseconds latency. Amazon Neptune supports popular graph models Property Graph and W3C's RDF, and their respective query languages Apache TinkerPop Gremlin and SPARQL, allowing you to easily build queries that efficiently navigate highly connected datasets. Neptune powers graph use cases such as recommendation engines, fraud detection, knowledge graphs, drug discovery, and network security. </p> <p>This interface reference for Amazon Neptune contains documentation for a programming or command line interface you can use to manage Amazon Neptune. Note that Amazon Neptune is asynchronous, which means that some interfaces might require techniques such as polling or callback functions to determine when a command has been applied. In this reference, the parameter descriptions indicate whether a command is applied immediately, on the next instance reboot, or during the maintenance window. The reference structure is as follows, and we list following some related topics from the user guide.</p> <p> <b>Amazon Neptune API Reference</b> </p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Neptune",
        "version": "2014-10-31",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/neptune-2014-10-31.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "neptune"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/rds/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Associates an Identity and Access Management (IAM) role from an Neptune DB cluster. ",
                "operationId": "AddRoleToDBCluster",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "DBClusterNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": " <i>DBClusterIdentifier</i> does not refer to an existing DB cluster. ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DBClusterRoleAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The specified IAM role Amazon Resource Name (ARN) is already associated with the specified DB cluster.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidDBClusterStateFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The DB cluster is not in a valid state.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "DBClusterRoleQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "You have exceeded the maximum number of IAM roles that can be associated with the specified DB cluster.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DBClusterIdentifier": {
                                        "description": "The name of the DB cluster to associate the IAM role with.",
                                        "type": "string"
                                    },
                                    "RoleArn": {
                                        "description": "The Amazon Resource Name (ARN) of the IAM role to associate with the Neptune DB cluster, for example <code>arn:aws:iam::123456789012:role/NeptuneAccessRole</code>.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "DBClusterIdentifier",
                                    "RoleArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddSourceIdentifierToSubscription": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds a source identifier to an existing event notification subscription.",
                "operationId": "AddSourceIdentifierToSubscription",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "EventSubscription": {
                                            "description": "Contains the results of a successful invocation of the <a>DescribeEventSubscriptions</a> action.",
                                            "properties": {
                                                "CustSubscriptionId": {
                                                    "description": "The event notification subscription Id.",
                                                    "type": "string"
                                                },
                                                "CustomerAwsId": {
                                                    "description": "The AWS customer account associated with the event notification subscription.",
                                                    "type": "string"
                                                },
                                                "Enabled": {
                                                    "description": "A Boolean value indicating if the subscription is enabled. True indicates the subscription is enabled.",
                                                    "type": "boolean"
                                                },
                                                "EventCategoriesList": {
                                                    "description": "A list of event categories for the event notification subscription.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "EventSubscriptionArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the event subscription.",
                                                    "type": "string"
                                                },
                                                "SnsTopicArn": {
                                                    "description": "The topic ARN of the event notification subscription.",
                                                    "type": "string"
                                                },
                                                "SourceIdsList": {
                                                    "description": "A list of source IDs for the event notification subscription.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "SourceType": {
                                                    "description": "The source type for the event notification subscription.",
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "<p>The status of the event notification subscription.</p> <p>Constraints:</p> <p>Can be one of the following: creating | modifying | deleting | active | no-permission | topic-not-exist</p> <p>The status \"no-permission\" indicates that Neptune no longer has permission to post to the SNS topic. The status \"topic-not-exist\" indicates that the topic was deleted after the subscription was created.</p>",
                                                    "type": "string"
                                                },
                                                "SubscriptionCreationTime": {
                                                    "description": "The time the event notification subscription was created.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "SubscriptionNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "SourceNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "SourceIdentifier": {
                                        "description": "<p>The identifier of the event source to be added.</p> <p>Constraints:</p> <ul> <li> <p>If the source type is a DB instance, then a <code>DBInstanceIdentifier</code> must be supplied.</p> </li> <li> <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB parameter group, a <code>DBParameterGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be supplied.</p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "SubscriptionName": {
                                        "description": "The name of the event notification subscription you want to add a source identifier to.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "SubscriptionName",
                                    "SourceIdentifier"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AddTagsToResource": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds metadata tags to an Amazon Neptune resource. These tags can also be used with cost allocation reporting to track cost associated with Amazon Neptune resources, or used in a Condition statement in an IAM policy for Amazon Neptune.",
                "operationId": "AddTagsToResource",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "DBInstanceNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": " <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DBSnapshotNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": " <i>DBSnapshotIdentifier</i> does not refer to an existing DB snapshot. ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "DBClusterNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": " <i>DBClusterIdentifier</i> does not refer to an existing DB cluster. ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "ResourceName": {
                                        "description": "The Amazon Neptune resource that the tags are added to. This value is an Amazon Resource Name (ARN). For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an Amazon Resource Name (ARN)</a>.",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "The tags to be assigned to the Amazon Neptune resource.",
                                        "items": {
                                            "description": "Metadata assigned to an Amazon Neptune resource consisting of a key-value pair.",
                                            "properties": {
                                                "Key": {
                                                    "description": "A key is the required name of the tag. The string value can be from 1 to 128 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "A value is the optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ResourceName",
                                    "Tags"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ApplyPendingMaintenanceAction": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Applies a pending maintenance action to a resource (for example, to a DB instance).",
                "operationId": "ApplyPendingMaintenanceAction",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "ResourcePendingMaintenanceActions": {
                                            "description": "Describes the pending maintenance actions for a resource.",
                                            "properties": {
                                                "PendingMaintenanceActionDetails": {
                                                    "description": "A list that provides details about the pending maintenance actions for the resource.",
                                                    "items": {
                                                        "description": "Provides information about a pending maintenance action for a resource.",
                                                        "properties": {
                                                            "Action": {
                                                                "description": "The type of pending maintenance action that is available for the resource.",
                                                                "type": "string"
                                                            },
                                                            "AutoAppliedAfterDate": {
                                                                "description": "The date of the maintenance window when the action is applied. The maintenance action is applied to the resource during its first maintenance window after this date. If this date is specified, any <code>next-maintenance</code> opt-in requests are ignored.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "CurrentApplyDate": {
                                                                "description": "The effective date when the pending maintenance action is applied to the resource. This date takes into account opt-in requests received from the <a>ApplyPendingMaintenanceAction</a> API, the <code>AutoAppliedAfterDate</code>, and the <code>ForcedApplyDate</code>. This value is blank if an opt-in request has not been received and nothing has been specified as <code>AutoAppliedAfterDate</code> or <code>ForcedApplyDate</code>.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "Description": {
                                                                "description": "A description providing more detail about the maintenance action.",
                                                                "type": "string"
                                                            },
                                                            "ForcedApplyDate": {
                                                                "description": "The date when the maintenance action is automatically applied. The maintenance action is applied to the resource on this date regardless of the maintenance window for the resource. If this date is specified, any <code>immediate</code> opt-in requests are ignored.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "OptInStatus": {
                                                                "description": "Indicates the type of opt-in request that has been received for the resource.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "ResourceIdentifier": {
                                                    "description": "The ARN of the resource that has pending maintenance actions.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The specified resource ID was not found.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "ApplyAction": {
                                        "description": "<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>",
                                        "type": "string"
                                    },
                                    "OptInType": {
                                        "description": "<p>A value that specifies the type of opt-in request, or undoes an opt-in request. An opt-in request of type <code>immediate</code> can't be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "ResourceIdentifier": {
                                        "description": "The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to. For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an Amazon Resource Name (ARN)</a>.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ResourceIdentifier",
                                    "ApplyAction",
                                    "OptInType"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CopyDBClusterParameterGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Copies the specified DB cluster parameter group.",
                "operationId": "CopyDBClusterParameterGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "DBClusterParameterGroup": {
                                            "description": "<p>Contains the details of an Amazon Neptune DB cluster parameter group. </p> <p>This data type is used as a response element in the <a>DescribeDBClusterParameterGroups</a> action. </p>",
                                            "properties": {
                                                "DBClusterParameterGroupArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the DB cluster parameter group.",
                                                    "type": "string"
                                                },
                                                "DBClusterParameterGroupName": {
                                                    "description": "Provides the name of the DB cluster parameter group.",
                                                    "type": "string"
                                                },
                                                "DBParameterGroupFamily": {
                                                    "description": "Provides the name of the DB parameter group family that this DB cluster parameter group is compatible with.",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "Provides the customer-specified description for this DB cluster parameter group.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DBParameterGroupNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": " <i>DBParameterGroupName</i> does not refer to an existing DB parameter group. ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DBParameterGroupQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Request would result in user exceeding the allowed number of DB parameter groups.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "DBParameterGroupAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A DB parameter group with the same name exists.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "SourceDBClusterParameterGroupIdentifier": {
                                        "description": "<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group. For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an Amazon Resource Name (ARN)</a>. </p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source DB cluster parameter group is in the same AWS Region as the copy, specify a valid DB parameter group identifier, for example <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different AWS Region than the copy, specify a valid DB cluster parameter group ARN, for example <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "A list of tags. For more information, see <a href=\"http://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html\">Tagging Amazon Neptune Resources</a>. ",
                                        "items": {
                                            "description": "Metadata assigned to an Amazon Neptune resource consisting of a key-value pair.",
                                            "properties": {
                                                "Key": {
                                                    "description": "A key is the required name of the tag. The string value can be from 1 to 128 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "A value is the optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "TargetDBClusterParameterGroupDescription": {
                                        "description": "A description for the copied DB cluster parameter group.",
                                        "type": "string"
                                    },
                                    "TargetDBClusterParameterGroupIdentifier": {
                                        "description": "<p>The identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "SourceDBClusterParameterGroupIdentifier",
                                    "TargetDBClusterParameterGroupIdentifier",
                                    "TargetDBClusterParameterGroupDescription"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CopyDBClusterSnapshot": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p> <p>You can copy an encrypted DB cluster snapshot from another AWS Region. In that case, the AWS Region where you call the <code>CopyDBClusterSnapshot</code> action is the destination AWS Region for the encrypted DB cluster snapshot to be copied to. To copy an encrypted DB cluster snapshot from another AWS Region, you must provide the following values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS Key Management System (AWS KMS) key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region.</p> </li> <li> <p> <code>PreSignedUrl</code> - A URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> action to be called in the source AWS Region where the DB cluster snapshot is copied from. The pre-signed URL must be a valid request for the <code>CopyDBClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied.</p> <p>The pre-signed URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the pre-signed URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:neptune-cluster1-snapshot-20161115</code>.</p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\"> Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\"> Signature Version 4 Signing Process</a>.</p> </li> <li> <p> <code>TargetDBClusterSnapshotIdentifier</code> - The identifier for the new copy of the DB cluster snapshot in the destination AWS Region.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the ARN format for the source AWS Region and is the same value as the <code>SourceDBClusterSnapshotIdentifier</code> in the pre-signed URL. </p> </li> </ul> <p>To cancel the copy operation once it is in progress, delete the target DB cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in \"copying\" status.</p>",
                "operationId": "CopyDBClusterSnapshot",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "DBClusterSnapshot": {
                                            "description": "<p>Contains the details for an Amazon Neptune DB cluster snapshot </p> <p>This data type is used as a response element in the <a>DescribeDBClusterSnapshots</a> action. </p>",
                                            "properties": {
                                                "AllocatedStorage": {
                                                    "description": "Specifies the allocated storage size in gibibytes (GiB).",
                                                    "type": "integer"
                                                },
                                                "AvailabilityZones": {
                                                    "description": "Provides the list of EC2 Availability Zones that instances in the DB cluster snapshot can be restored in.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ClusterCreateTime": {
                                                    "description": "Specifies the time when the DB cluster was created, in Universal Coordinated Time (UTC).",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "DBClusterIdentifier": {
                                                    "description": "Specifies the DB cluster identifier of the DB cluster that this DB cluster snapshot was created from.",
                                                    "type": "string"
                                                },
                                                "DBClusterSnapshotArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "DBClusterSnapshotIdentifier": {
                                                    "description": "Specifies the identifier for the DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "Engine": {
                                                    "description": "Specifies the name of the database engine.",
                                                    "type": "string"
                                                },
                                                "EngineVersion": {
                                                    "description": "Provides the version of the database engine for this DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "IAMDatabaseAuthenticationEnabled": {
                                                    "description": "True if mapping of AWS Identity and Access Management (IAM) accounts to database accounts is enabled, and otherwise false.",
                                                    "type": "boolean"
                                                },
                                                "KmsKeyId": {
                                                    "description": "If <code>StorageEncrypted</code> is true, the AWS KMS key identifier for the encrypted DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "LicenseModel": {
                                                    "description": "Provides the license model information for this DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "MasterUsername": {
                                                    "description": "Provides the master username for the DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "PercentProgress": {
                                                    "description": "Specifies the percentage of the estimated data that has been transferred.",
                                                    "type": "integer"
                                                },
                                                "Port": {
                                                    "description": "Specifies the port that the DB cluster was listening on at the time of the snapshot.",
                                                    "type": "integer"
                                                },
                                                "SnapshotCreateTime": {
                                                    "description": "Provides the time when the snapshot was taken, in Universal Coordinated Time (UTC).",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SnapshotType": {
                                                    "description": "Provides the type of the DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "SourceDBClusterSnapshotArn": {
                                                    "description": "If the DB cluster snapshot was copied from a source DB cluster snapshot, the Amazon Resource Name (ARN) for the source DB cluster snapshot, otherwise, a null value.",
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "Specifies the status of this DB cluster snapshot.",
                                                    "type": "string"
                                                },
                                                "StorageEncrypted": {
                                                    "description": "Specifies whether the DB cluster snapshot is encrypted.",
                                                    "type": "boolean"
                                                },
                                                "VpcId": {
                                                    "description": "Provides the VPC ID associated with the DB cluster snapshot.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DBClusterSnapshotAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "User already has a DB cluster snapshot with the given identifier.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DBClusterSnapshotNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": " <i>DBClusterSnapshotIdentifier</i> does not refer to an existing DB cluster snapshot. ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidDBClusterStateFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The DB cluster is not in a valid state.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidDBClusterSnapshotStateFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The supplied value is not a valid DB cluster snapshot state.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "SnapshotQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Request would result in user exceeding the allowed number of DB snapshots.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "KMSKeyNotAccessibleFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Error accessing KMS key.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "CopyTags": {
                                        "description": "True to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot, and otherwise false. The default is false.",
                                        "type": "boolean"
                                    },
                                    "KmsKeyId": {
                                        "description": "<p>The AWS AWS KMS key ID for an encrypted DB cluster snapshot. The KMS key ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key. </p> <p>If you copy an unencrypted DB cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, Amazon Neptune encrypts the target DB cluster snapshot using the specified KMS encryption key. </p> <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new KMS encryption key. If you don't specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same KMS key as the source DB cluster snapshot. </p> <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>. </p> <p>To copy an encrypted DB cluster snapshot to another AWS Region, you must set <code>KmsKeyId</code> to the KMS key ID you want to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. KMS encryption keys are specific to the AWS Region that they are created in, and you can't use encryption keys from one AWS Region in another AWS Region.</p>",
                                        "type": "string"
                                    },
                                    "PreSignedUrl": {
                                        "description": "<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the source DB cluster snapshot to copy. The <code>PreSignedUrl</code> parameter must be used when copying an encrypted DB cluster snapshot from another AWS Region.</p> <p>The pre-signed URL must be a valid request for the <code>CopyDBSClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied. The pre-signed URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the pre-signed URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:neptune-cluster1-snapshot-20161115</code>.</p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\"> Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\"> Signature Version 4 Signing Process</a>.</p>",
                                        "type": "string"
                                    },
                                    "SourceDBClusterSnapshotIdentifier": {
                                        "description": "<p>The identifier of the DB cluster snapshot to copy. This parameter is not case-sensitive.</p> <p>You can't copy an encrypted, shared DB cluster snapshot from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the \"available\" state.</p> </li> <li> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid DB snapshot identifier.</p> </li> <li> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid DB cluster snapshot ARN. </p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "A list of tags. For more information, see <a href=\"http://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html\">Tagging Amazon Neptune Resources</a>. ",
                                        "items": {
                                            "description": "Metadata assigned to an Amazon Neptune resource consisting of a key-value pair.",
                                            "properties": {
                                                "Key": {
                                                    "description": "A key is the required name of the tag. The string value can be from 1 to 128 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "A value is the optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "TargetDBClusterSnapshotIdentifier": {
                                        "description": "<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "SourceDBClusterSnapshotIdentifier",
                                    "TargetDBClusterSnapshotIdentifier"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CopyDBParameterGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Copies the specified DB parameter group.",
                "operationId": "CopyDBParameterGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "DBParameterGroup": {
                                            "description": "<p>Contains the details of an Amazon Neptune DB parameter group. </p> <p>This data type is used as a response element in the <a>DescribeDBParameterGroups</a> action. </p>",
                                            "properties": {
                                                "DBParameterGroupArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the DB parameter group.",
                                                    "type": "string"
                                                },
                                                "DBParameterGroupFamily": {
                                                    "description": "Provides the name of the DB parameter group family that this DB parameter group is compatible with.",
                                                    "type": "string"
                                                },
                                                "DBParameterGroupName": {
                                                    "description": "Provides the name of the DB parameter group.",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "Provides the customer-specified description for this DB parameter group.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "DBParameterGroupNotFoundFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": " <i>DBParameterGroupName</i> does not refer to an existing DB parameter group. ",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "DBParameterGroupAlreadyExistsFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A DB parameter group with the same name exists.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "DBParameterGroupQuotaExceededFault",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Request would result in user exceeding the allowed number of DB parameter groups.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "SourceDBParameterGroupIdentifier": {
                                        "description": "<p> The identifier or ARN for the source DB parameter group. For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an Amazon Resource Name (ARN)</a>. </p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB parameter group.</p> </li> <li> <p>Must specify a valid DB parameter group identifier, for example <code>my-db-param-group</code>, or a valid ARN.</p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "A list of tags. For more information, see <a href=\"http://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html\">Tagging Amazon Neptune Resources</a>. ",
                                        "items": {
                                            "description": "Metadata assigned to an Amazon Neptune resource consisting of a key-value pair.",
                                            "properties": {
                                                "Key": {
                                                    "description": "A key is the required name of the tag. The string value can be from 1 to 128 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "A value is the optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and can't be prefixed with \"aws:\" or \"rds:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "TargetDBParameterGroupDescription": {
                                        "description": "A description for the copied DB parameter group.",
                                        "type": "string"
                                    },
                                    "TargetDBParameterGroupIdentifier": {
                                        "description": "<p>The identifier for the copied DB parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-db-parameter-group</code> </p>",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "SourceDBParameterGroupIdentifier",
                                    "TargetDBParameterGroupIdentifier",
                                    "TargetDBParameterGroupDescription"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateDBCluster": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new Amazon Neptune DB cluster.</p> <p>You can use the <code>ReplicationSourceIdentifier</code> parameter to create the DB cluster as a Read Replica of another DB cluster or Amazon Neptune DB instance. For cross-region replication where the DB cluster identified by <code>ReplicationSourceIdentifier</code> is encrypted, you must also specify the <code>PreSignedUrl</code> parameter.</p>",
                "operationId": "CreateDBCluster",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "DBCluster": {
                                            "description": "<p>Contains the details of an Amazon Neptune DB cluster. </p> <p>This data type is used as a response element in the <a>DescribeDBClusters</a> action. </p>",
                                            "properties": {
                                                "AllocatedStorage": {
                                                    "description": " <code>AllocatedStorage</code> always returns 1, because Neptune DB cluster storage size is not fixed, but instead automatically adjusts as needed.",
                                                    "type": "integer"
                                                },
                                                "AssociatedRoles": {
                                                    "description": "Provides a list of the AWS Identity and Access Management (IAM) roles that are associated with the DB cluster. IAM roles that are associated with a DB cluster grant permission for the DB cluster to access other AWS services on your behalf.",
                                                    "items": {
                                                        "description": "Describes an AWS Identity and Access Management (IAM) role that is associated with a DB cluster.",
                                                        "properties": {
                                                            "RoleArn": {
                                                                "description": "The Amazon Resource Name (ARN) of the IAM role that is associated with the DB cluster.",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "<p>Describes the state of association between the IAM role and the DB cluster. The Status property returns one of the following values:</p> <ul> <li> <p> <code>ACTIVE</code> - the IAM role ARN is associated with the DB cluster and can be used to access other AWS services on your behalf.</p> </li> <li> <p> <code>PENDING</code> - the IAM role ARN is being associated with the DB cluster.</p> </li> <li> <p> <code>INVALID</code> - the IAM role ARN is associated with the DB cluster, but the DB cluster is unable to assume the IAM role in order to access other AWS services on your behalf.</p> </li> </ul>",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "AvailabilityZones": {
                                                    "description": "Provides the list of EC2 Availability Zones that instances in the DB cluster can be created in.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "BackupRetentionPeriod": {
                                                    "description": "Specifies the number of days for which automatic DB snapshots are retained.",
                                                    "type": "integer"
                                                },
                                                "CharacterSetName": {
                                                    "description": "If present, specifies the name of the character set that this cluster is associated with.",
                                                    "type": "string"
                                                },
                                                "CloneGroupId": {
                                                    "description": "Identifies the clone group to which the DB cluster is associated.",
                                                    "type": "string"
                                                },
                                                "ClusterCreateTime": {
                                                    "description": "Specifies the time when the DB cluster was created, in Universal Coordinated Time (UTC).",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "DBClusterArn": {
                                                    "description": "The Amazon Resource Name (ARN) for the DB cluster.",
                                                    "type": "string"
                                                },
                                                "DBClusterIdentifier": {
                                                    "description": "Contains a user-supplied DB cluster identifier. This identifier is the unique key that identifies a DB cluster.",
                                                    "type": "string"
                                                },
                                                "DBClusterMembers": {
                                                    "description": "Provides the list of instances that make up the DB cluster.",
                                                    "items": {
                                                        "description": "Contains information about an instance that is part of a DB cluster.",
                                                        "properties": {
                                                            "DBClusterParameterGroupStatus": {
                                                                "description": "Specifies the status of the DB cluster parameter group for this member of the DB cluster.",
                                                                "type": "string"
                                                            },
                                                            "DBInstanceIdentifier": {
                                                                "description": "Specifies the instance identifier for this member of the DB cluster.",
                                                                "type": "string"
                                                            },
                                                            "IsClusterWriter": {
                                                                "description": "Value that is <code>true</code> if the cluster member is the primary instance for the DB cluster and <code>false</code> otherwise.",
                                                                "type": "boolean"
                                                            },
                                                            "PromotionTier": {
                                                                "description": "A value that specifies the order in which a Read Replica is promoted to the primary instance after a failure of the existing primary instance. ",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "DBClusterOptionGroupMemberships": {
                                                    "description": "Provides the list of option group memberships for this DB cluster.",
                                                    "items": {
                                                        "description": "Contains status information for a DB cluster option group.",
                                                        "properties": {
                                                            "DBClusterOptionGroupName": {
                                                                "description": "Specifies the name of the DB cluster option group.",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "Specifies the status of the DB cluster option group.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "DBClusterParameterGroup": {
                                                    "description": "Specifies the name of the DB cluster parameter group for the DB cluster.",
                                                    "type": "string"
                                                },
                                                "DBSubnetGroup": {
                                                    "description": "Specifies information on the subnet group associated with the DB cluster, including the name, description, and subnets in the subnet group.",
                                                    "type": "string"
                                                },
                                                "DatabaseName": {
                                                    "description": "Contains the name of the initial database of this DB cluster that was provided at create time, if one was specified when the DB cluster was created. This same name is returned for the life of the DB cluster.",
                                                    "type": "string"
                                                },
                                                "DbClusterResourceId": {
                                                    "description": "The AWS Region-unique, immutable identifier for the DB cluster. This identifier is found in AWS CloudTrail log entries whenever the AWS KMS key for the DB cluster is accessed.",
                                                    "type": "string"
                                                },
                                                "EarliestRestorableTime": {
[...]
